<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>Sensor administration</title>
    <%- include('../../imports'); -%>
</head>
<body>
    <%- include('../../navbar'); -%>
          
        <div class = "container">
            <div class="row">
                <h1>Sensor Administration</h1>
            </div>
    
            <div class="row mb-2">
                <a href="/admin/sensor/create" class="btn btn-dark btn-outline-info" > New Sensor </a>
            </div>
        
            <div class = "row">
                <table class="table table-hover ">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Title</th>
                        <th scope="col">Data</th>
                        <th scope="col">Temperature</th>
                        <th scope="col">Humidity</th>
                        </tr>
                    </thead>
                    
                    <tbody class="table-active" >
                        <% sensor.forEach((sensores) => { %>
                            <tr>
                                <td><%= sensores.id %></td>
                                <td><%= sensores.name %></td>
                                <td><%= sensores.measurements.length > 0 ? sensores.measurements[sensores.measurements.length - 1].date.split(",")[0] : 'No values' %></td>
                                <td><%= sensores.measurements.length > 0 ? sensores.measurements[sensores.measurements.length - 1].temperature : 'No values' %></td>
                                <td><%= sensores.measurements.length > 0 ? sensores.measurements[sensores.measurements.length - 1].humidity : 'No values' %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                   
                </table>
            </div>
        </div>
</body>
</html>