<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
    <%- include('imports'); -%>

  </head>
  <body class="fundo">

    <%- include('navbar'); -%>

    <div class="container">
      <div class="row">
        <% sensors.forEach((sensor) => { %>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><%= sensor.name %></h5>
            <% if (sensor.measurements.length > 0) { %>
            <% var index = sensor.measurements.length -1 %>
            <p class="card-text">Temperatura: <%= sensor.measurements[index].temperature %></p>
            <p class="card-text">Umidade: <%= sensor.measurements[index].humidity %></p>
            <% } %>
          </div>
        </div>
        <% }); %>
      </div>
      <div class="row">
        <% actuators.forEach((actuator) => { %>
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title"><%= actuator.name %></h5>
                <form action="#########<%= actuator.id %>" method="POST">
                  <button type="submit" id=<%= actuator.status ? "actuatorStatus" : "actuatorStatusDisabled" %>>
                    <%= actuator.status ? 'Ligado' : 'Desligado' %>
                  </button>
                </form>
            </div>
          </div>
        <% }); %>
      </div>
      </div>
  </body>
</html>