<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
    <%- include('imports'); -%>
    <%- include('navbar'); -%>
  </head>
  <body class="fundo">

      <div class="cardall">
      <div class="card w-50">
        <% sensors.forEach((sensor) => { %>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><%= sensor.name %></h5>
            <% if (sensor.measurements.length > 0) { %>
            <% var index = sensor.measurements.length -1 %>
            <p class="card-text">Temperatura: <%= sensor.measurements[index].temperature %></p>
            <p class="card-text">Umidade: <%= sensor.measurements[index].humidity %></p>
            <% } %>
          </div>
        </div>
        <% }); %>
      </div>
    </div>

          <div class="cardall">
          <div class="card w-50">
          <div class="table-active" > 
          <% actuators.forEach((actuator) => { %>
          <div class="card text-center">
          <div class="card-body">
            <tr>
                <td> <%= actuator.id %></td>
                <td> <%= actuator.name %> </td>
                
                <td>
                <form action="/admin/actuator/<%= actuator.id %>" method="POST">

                    <div class="botao">
                    <button type="submit" class="btn btn-dark btn-outline-info" id=<%= actuator.status ? "actuatorStatus" : "actuatorStatusDisabled" %>>
                        <%= actuator.status ? 'Ligado' : 'Desligado' %>
                    </button>
                    </div>

                </form>
                </td>

            </tr>
          </div>
          </div>
          </div>
          <% }); %>
          </div>
        </div>


  </body>
</html>