<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
    <%- include('imports'); -%>

  </head>
  <body class="fundo">

    <%- include('navbar'); -%>

    <div class="container">
      <div class="row">
        <% sensors.forEach((sensor) => { %>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><%= sensor.name %></h5>
            <% if (sensor.measurements.length > 0) { %>
            <% var index = sensor.measurements.length -1 %>
            <p class="card-text">Temperatura: <%= sensor.measurements[index].temperature %></p>
            <p class="card-text">Umidade: <%= sensor.measurements[index].humidity %></p>
            <% } %>
          </div>
        </div>
        <% }); %>
      </div>
      <div class="row">
        <% actuators.forEach((actuator) => { %>
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title"><%= actuator.name %></h5>
                <form action="/actuators/<%= actuator.id %>" method="post">
                  <input type="hidden" name="status" value="<%= actuator.status %>">
                  <% if ( actuator.status == 0 ) { %>
                  <button class="btn btn-primary" type="submit">Ligar</button>
                  <% } else { %>
                  <button class="btn btn-primary" type="submit">Desigar</button>
                  <% } %>
                </form>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>